<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Lokeshyourfriend\BasicMsgQueue\Api\TopicRequestInterface" type="Lokeshyourfriend\BasicMsgQueue\Model\TopicRequest"/>
</config>